header{
    text-align: center;
}
header img{
    width:10%;
    position:relative;
     top: -100px;
      right:20%;
    
}
main nav ul{

    justify-content: space-around;
    list-style-type: none;
}
aside {
  background-color: gray;
  color: white;
  padding: 15px;
  border-radius: 8px;

  display: flex;          /* ← 横並びにするのはここ！ */
  gap: 15px;              /* 要素の間のすき間 */
  justify-content: center;/* 中央寄せ（任意） */
}

aside a {
  color: #fff;            /* リンクを白文字に */
  text-decoration: none;  /* 下線を消す（任意） */
}

aside a:hover {
  text-decoration: underline; /* ホバーで下線 */
}







